@media (max-width: 730px) {
    * {
        /* max-width: 100%;  */
        /* margin: 0 auto; */
    }
    p {
        font-size: 16px;
    }
    .main {
        box-shadow: none;
        text-align: center;
    }
    h2,
    .blue-text {
        font-size: 8vw;
        text-align: left;
        width: 78vw;
        margin-top: 10px;
        padding-right: 10px;
    }
    .first-page {
        height: auto;
    }
    header {
        padding-top: 30px;
        padding-left: 30px;
    }
    .VeraVla-logo {
        max-height: 50px;
    }
    .telephone {
        display: none;
    }
    .consultation-container {
        left: 7px;
        bottom: 30px;
    }
    .outer-circle {
        max-width: 89px;
        max-height: 89px;
    }
    .inner-circle {
        max-width: 63px;
        max-height: 63px;
    }
    .logo-headphone {
        max-width: 25px;
        max-height: 25px;
    }
    .text-consultation {
        display: none;
    }
    .greetings {
        margin-top: 17vw;
    }
    .background-image {
        position: relative;
        width: 100%;
        height: calc((726 / 965) * 100%);
        top: -60px;
    }
    h1 {
        font-size: 13vw;
        padding-top: 9px;
        padding-left: 0;
        letter-spacing: 1px;
    }
    .motivation-text {
        max-width: 100%;
        margin-top: 10px;
        padding-left: 31px;
        text-align: left;
        box-sizing: border-box;
    }
    .guarantee-container {
        justify-content: center;
        margin-top: 58px;
        gap: 15px;
    }
    .vector-education {
        width: 49px;
        height: 49px;
        margin: 0;
    }
    .img-edu {
        width: 28px;
        height: 27px;
    }
    .text-container {
        text-align: left;
        max-width: 63vw;
        margin: 0;
    }
    .guarantee-text {
        font-size: 14px;
    }
    .light-button {
        max-width: 83%;
        margin-top: 0;
        margin-bottom: 2vh;
    }
    .reasons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 7vh;
    }
    .reason-wrapper {
        max-width: 78vw;
    }
    .reason {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .reason-vector {
        padding-top: 14px;
        padding-left: 16px;
        width: 8vw;
    }
    .reason-text {
        font-size: 14px;
        padding: 7px 14px 20px;
        text-align: left;
    }
    .third-page {
        padding: 4vh 0;
    }
    .art-inteligence {
        margin-bottom: 3vw;
    }
    .arguments {
        width: 80vw;
        margin: 0 auto;
        font-size: 14px;
    }
    .argument {
        max-width: 80vw;
        padding: 7vw 0;
    }
    .argument img {
        margin-left: 25px;
        margin-right: 0;
    }
    .argument-text {
        font-size: 14px;
        text-align: left;
        padding-left: 18px;
        width: 52vw;
        line-height: 20px;
    }
    .fourth-argument {
        margin-bottom: 0;
    }
    .third-background-image {
        position: relative;
        height: calc((623 / 937) * 100%);
        width: 100%;
        right: 0;
        top: 0;
    }
    .fourth-page {
        padding-top: 47px;
    }
    .importants {
        display: flex;
        flex-wrap: wrap;
        padding-top: 8px;
    }
    .important {
        width: 50%;
        flex-direction: column;
        padding: 0;
        height: auto;
        margin-bottom: 20px;
    }
    .important-wrapper {
        margin-left: 19px;
    }
    .important-wrapper,
    .important-wrapper img {
        max-width: 138px;
        max-height: 100px;
    }
    .important-wrapper::before {
        width: 44px;
        height: 23px;
        left: 16px;
    }
    .important p {
        padding: 13px 0 0 19px;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
    }
    .third-important,
    .fourth-important {
        flex-direction: column-reverse;
    }
}
