@font-face {
    font-family: 'Avenir Next Cyr Medium';
    src: url(src/assets/font/Avenir-Next-Cyr-Medium/AvenirNextCyrMedium.ttf);
}

p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: white;
    font-family: 'Avenir Next Cyr Medium';
}
