body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#022335, #043a41);
    margin: 0;
}

.header {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    margin: 0 auto;
    width: 1200px;
}

.tel_logo {
    height: 25px;
    vertical-align: middle;
}

.phone_number {
    color: white;
    font-size: 18px;
    font-family: 'Avenir Next Cyr Medium';
}

main {
    display: flex;
}

.first-page {
    height: 873px;
}

aside {
    width: 347px;
    height: 100vh;
}

a {
    text-decoration: none;
}

.consultation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-circle {
    position: absolute;
    width: 139px;
    height: 139px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
}

.inner-circle {
    position: absolute;
    top: 19.5px;
    left: 19.5px;
    width: 100px;
    height: 100px;
    background: #00e0ff;
    border-radius: 50%;
}

.logo-headphone {
    position: absolute;
    top: 30px;
    left: 30px;
}

.text-consultation {
    color: #00e0ff;
    transform: rotateZ(-90deg) translate(-270px, 0);
    width: 281px;
    letter-spacing: 5px;
    font-size: 10px;
}

.greetings {
    margin-top: 155px;
}

.base-section {
    display: flex;
    justify-content: left;
    width: 100%;
    background-image: url('src/Neuron_bck.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 49% auto;
}

.welcome {
    color: #747d81;
    font-weight: 600;
}

h1 {
    font-family: 'Avenir Next Cyr Medium';
    font-size: 102px;
    color: white;
    margin: 0 auto;
    letter-spacing: 3.6px;
}

.motivation-text {
    width: 580px;
    margin-top: 15px;
    padding-bottom: 8px;
}

.guarantee-container {
    margin: 77px 0;
    display: flex;
    flex-direction: row;
    height: 89px;
}

.vector-education {
    width: 71px;
    height: 71px;
    background-image: url(src/Rectangle_edu.svg);
}

.img-edu {
    padding: 18px 16px 14px 16px;
}

.text-container {
    align-self: center;
    padding-left: 33px;
    height: 86px;
}

.guarantee-edu-text {
    letter-spacing: 0.5px;
}

.guarantee-text {
    color: #00e0ff;
    padding-top: 11px;
}

.light-button {
    margin-top: 24px;
    width: 479px;
    height: 60px;
    color: white;
    background-color: #03e1ffa8;
    border-radius: 9px;
    border-width: 0;
    font-family: 'Avenir Next Cyr Medium';
    font-size: 12px;
    font-weight: 750;
    line-height: 14.7px;
    letter-spacing: 0.27em;
    cursor: pointer;
}

.scroll-down {
    display: flex;
    color: #00e0ff;
    transform: rotateZ(-90deg) translate(0, 100%);
    width: 300px;
    height: 50px;
    letter-spacing: 5px;
    font-size: 10px;
    align-items: center;
    align-self: end;
}

.switch-button {
    position: relative;
    width: 35px;
    height: 18px;
    border-radius: 60px;
    border: 1px solid #4a8bec;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.switch-button::after {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 17px;
    background-color: #4abcec;
    top: 4px;
    left: 4px;
}

.second-page {
    height: 863px;
    padding-top: 18px;
}

h2 {
    margin: 107px 0 20px;
    font-family: 'Avenir Next Cyr Medium';
    font-size: 54px;
    font-weight: 450;
    color: #ffffff;
}

.blue-text {
    color: #49bceb;
}

.reasons {
    padding-top: 30px;
    height: 449px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        'box1 box1 box1 box2 box2 box2 box3 box3 box3 box4 box4 box4'
        'box5 box5 box5 box5 box6 box6 box6 box6 box7 box7 box7 box7';
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.reason {
    height: 100%;
    background: linear-gradient(#022335, #043a41);
    border-radius: 20px;
}

.reason-wrapper {
    padding: 2px;
    background: radial-gradient(
        47.54% 111.62% at 50% 50%,
        #49b9e8 0%,
        rgba(31, 77, 96, 0.43) 100%
    );
    border-radius: 20px;
}

.reason-vector1 {
    padding: 42px 47px 0;
}

.reason-text1 {
    padding: 15px 42px;
}

.reason-vector2 {
    padding: 42px 45px 0;
}

.reason-text2 {
    padding: 13px 42px;
}

.reason-vector3 {
    padding: 42px 46px 0;
}

.reason-text3 {
    padding: 15px 35px 0 42px;
}

.reason-vector4 {
    padding: 34px 47px 0;
}

.reason-text4 {
    padding: 15px 35px 0 42px;
}

.reason-vector5 {
    padding: 48px 42px 0;
}

.reason-text5 {
    padding: 16px 42px 0;
}

.reason-vector6 {
    padding: 36px 44px 0;
}

.reason-text6 {
    padding: 15px 41px 0;
}

.reason-vector7 {
    padding: 40px 46px 0;
}

.reason-text7 {
    padding: 18px 42px;
}

.reason-text {
    font-size: 15px;
    font-weight: 450;
    line-height: 18.38px;
}

.third-page {
    height: 901px;
    padding-top: 12px;
}

.arguments {
    width: 689px;
    padding-top: 32px;
    margin-bottom: 45px;
}

.argument {
    display: flex;
    margin-top: 5px;
    padding: 10px 0 0 24px;
    background: linear-gradient(
        90deg,
        rgba(31, 63, 77, 0.53) 52.08%,
        rgba(31, 75, 94, 0) 100%
    );
}

.argument-text {
    font-size: 15px;
    font-weight: 450;
    line-height: 21px;
    padding-top: 7px;
    padding-left: 19px;
}

.first-argument {
    height: 51px;
}

.second-argument {
    height: 108px;
}

.third-argument {
    height: 84px;
}

.fourth-argument {
    height: 70px;
}

.fourth-page {
    height: 809px;
}

.importants {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.first-important {
    overflow: hidden;
    padding: 2px 0 0 2px;
    display: flex;
    width: 568px;
    height: 203px;
    border-radius: 20px;
}

.first-important img {
    margin-left: -285px;
    border-radius: 20px;
}

.first-important p {
    padding: 35px 0 0 18px;
    font-size: 16px;
    font-weight: 450;
    line-height: 23px;
}

.second-important {
    display: flex;
    width: 568px;
    height: 203px;
    border-radius: 20px;
}

.second-important img {
    border-radius: 20px;
}

.second-important p {
    padding: 35px 0 0 18px;
    font-size: 16px;
    font-weight: 450;
    line-height: 23px;
}

.third-important {
    padding: 25px 0 0 50px;
    display: flex;
    width: 568px;
    height: 203px;
    border-radius: 20px;
}

.third-important img {
    border-radius: 20px;
}

.third-important p {
    padding: 17px 45px 0 0;
    font-size: 16px;
    font-weight: 450;
    line-height: 23px;
}

.fourth-important {
    padding: 25px 0 0 45px;
    display: flex;
    width: 568px;
    height: 203px;
    border-radius: 20px;
}

.fourth-important img {
    border-radius: 20px;
}

.fourth-important p {
    padding: 17px 57px 0 0;
    font-size: 16px;
    font-weight: 450;
    line-height: 23px;
}

.fifth-page {
    height: 891px;
}

.advantage {
    display: flex;
    padding-left: 3px;
}

.advantage p {
    font-size: 16px;
    font-weight: 450;
    line-height: 23px;
}

.first-advantage {
    padding-top: 10px;
    margin-bottom: 22px;
    padding-left: 3px;
}

.first-advantage p {
    padding: 13px 0 0 20px;
}

.second-advantage {
    margin-bottom: 18px;
}

.second-advantage p {
    padding: 13px 0 0 20px;
}

.third-advantage {
    margin-bottom: 40px;
}

.third-advantage p {
    padding: 10px 0 0 20px;
}

.fourth-advantage {
    margin-bottom: 16px;
}

.fourth-advantage p {
    padding: 10px 0 0 20px;
}

.fifth-advantage p {
    padding: 10px 0 0 20px;
    margin-bottom: 25px;
}

.sixth-page {
    height: 2182px;
}

.chapters {
    margin-bottom: 33px;
}

.text-parts {
    margin-bottom: 26px;
}

.parts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    padding: 0 15px;
    background: linear-gradient(
        286.41deg,
        #073447 3.63%,
        #08262b 90.98%
    );
    height: 56px;
    border-radius: 6px;
}

.part-circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, #00e0ff 0%, #4a8bec 100%);
}

.parts-header {
    margin-left: 15px;
    color: white;
    font-family: 'Avenir Next Cyr Medium';
    font-size: 20px;
    font-weight: 750;
    line-height: 21px;
    flex-grow: 1;
}

.parts-header span {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 450;
    line-height: 21px;
    color: #088f95;
}

.number-circle {
    display: flex;
    width: 27px;
    height: 27px;
    background: #4abcec;
    align-items: center;
    justify-content: center;
    border-radius: 27px;
    font-family: 'Avenir Next Cyr Medium';

    font-size: 14px;
    font-weight: 750;
    /* line-height: 21px; */
    color: #08262b;
}

.accordion-btn {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 2px;
    background: linear-gradient(
        180deg,
        rgba(0, 224, 255, 0.11) 0%,
        rgba(0, 224, 255, 0.0539) 100%
    );
}

h4 {
    margin: 0 0 15px 0;
    font-family: 'Avenir Next Cyr Medium';
    font-size: 16px;
    font-weight: 750;
    line-height: 21px;
    color: #4abcec;
}

.chapter-text {
    font-size: 16px;
    font-weight: 450;
    line-height: 21px;
}

.first-chapter {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.second-chapter {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.third-chapter {
    margin-top: 38px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.fourth-chapter {
    margin-top: 43px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.fifth-chapter {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.sixth-chapter {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.seventh-chapter {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.eighth-chapter {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.ninth-chapter {
    margin-top: 41px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.tenth-chapter {
    margin-top: 41px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.eleventh-chapter {
    margin: 41px 0 43px 0;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.seventh-page {
    height: 736px;
}

.about-author {
    margin-top: 37px;
    width: 488px;
}

.about-author p {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 450;
    line-height: 24px;
}

.eighth-page {
    height: 695px;
}
