.block {
    box-shadow: 0px 0px 24px 0px rgba(0, 224, 255, 0.3),
        0px 4px 15px 0px rgba(74, 217, 236, 0.3),
        0px 3px 15px 0px rgba(0, 224, 255, 0.23);

    border-bottom: 2px solid;
    border-image: linear-gradient(
        270deg,
        rgba(74, 207, 236, 0.21) 0%,
        #32abc3 53.12%,
        rgba(74, 197, 236, 0.23) 100%
    );
    border-image-slice: 1;
    overflow: hidden;

    @media (max-width: 768px) {
        box-shadow: none;
    }
}

.odd-block {
    background: linear-gradient(
        286.41deg,
        #022335 3.63%,
        #043a41 90.98%
    );
}

.even-block {
    background: linear-gradient(45deg, #021c2b 3.63%, #0a2b30 90.98%);
}

header {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        padding-top: 20px;
    }

    @media (max-width: 500px) {
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
}

.content-container {
    position: relative;
    margin: 0 auto;
    width: 1200px;

    @media (max-width: 1550px) {
        width: 700px;
    }

    @media (max-width: 992px) {
        width: 530px;
    }

    @media (max-width: 768px) {
        width: 84%;
    }
}

.VeraVla-logo {
    @media (max-width: 1200px) {
        height: 65px;
    }

    @media (max-width: 992px) {
        height: 58px;
    }
}

.tel-logo {
    padding-right: 10px;
    vertical-align: middle;
}

.welcome-block {
    position: relative;
}

.consultation-container {
    position: fixed;
    left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;

    @media (max-width: 992px) {
        right: 20px;
        left: auto;
        bottom: 120px;
    }
}

.outer-circle {
    display: flex;
    justify-content: center;
    width: 139px;
    height: 139px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;

    @media (max-width: 1200px) {
        width: 120px;
        height: 120px;
    }

    @media (max-width: 992px) {
        width: 88px;
        height: 88px;
    }
}

.consultation-btn {
    background: transparent;
    border: none;
    border-radius: 50%;
}

.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: linear-gradient(
        180deg,
        rgba(3, 225, 255, 0.66) 0%,
        #13cdc2 100%
    );
    border-radius: 50%;
    box-shadow: 0px 7px 20px -7px #00e0ff;

    @media (max-width: 1200px) {
        width: 86px;
        height: 86px;
    }

    @media (max-width: 992px) {
        width: 63px;
        height: 63px;
    }
}

.logo-headphone {
    width: 40%;
    height: 40%;
}

.text-consultation {
    position: absolute;
    color: #00e0ff;
    transform: rotateZ(-90deg) translate(-240px, 0);
    width: 270px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    line-height: 12.25px;
    letter-spacing: 0.36em;

    @media (max-width: 1200px) {
        transform: rotateZ(-90deg) translate(-235px, 0);
    }
    @media (max-width: 992px) {
        display: none;
    }
}

.info {
    position: relative;
    z-index: 2;
    padding-top: 155px;
    padding-bottom: 176px;

    @media (max-width: 992px) {
        padding: 100px 0;
    }

    @media (max-width: 768px) {
        padding-top: 50px;
        padding-bottom: 79px;
    }
}

.welcome {
    color: #747d81;
    font-weight: 600;
}

.motivation-text {
    width: 580px;
    margin: 15px 0 8px;

    @media (max-width: 992px) {
        width: 100%;
    }

    @media (max-width: 768px) {
    }
}

.guarantee-container {
    margin: 85px auto;
    display: flex;
    flex-direction: row;
    gap: 34px;

    @media (max-width: 992px) {
        gap: 15px;
    }

    @media (max-width: 768px) {
        margin: 30px auto;
    }
}

.vector-education {
    display: flex;
    min-width: 71px;
    height: 71px;
    background-image: url('src/assets/img/icons/bckgrnd.svg');
    background-size: contain;
    justify-content: center;
    align-items: center;

    @media (max-width: 992px) {
        display: none;
    }
}

.img-edu {
    @media (max-width: 1200px) {
        width: 33px;
        height: 33px;
    }

    @media (max-width: 768px) {
        width: 29px;
        height: 29px;
    }
}

.text-container {
    align-self: center;
    height: 86px;
    width: 470px;
    padding-top: 3px;

    @media (max-width: 992px) {
        width: auto;
        height: auto;
    }

    @media (max-width: 768px) {
        line-height: 21px;
    }
}

.guarantee-edu-text {
    letter-spacing: 0.5px;

    @media (max-width: 768px) {
        font-size: 15px;
        letter-spacing: 1.1px;
    }
}

.guarantee-text {
    color: #00e0ff;
    padding-top: 10px;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.welcome-background-image {
    background: url(src/assets/img/welcome-background.jpg) no-repeat
        left / contain;
    position: absolute;
    width: 48vw;
    height: 859px;
    bottom: 0;
    left: 647px;
    z-index: -1;

    @media (max-width: 1550px) {
        left: 382px;
        opacity: 0.2;
        width: 705px;
        height: 680px;
    }

    @media (max-width: 992px) {
        background-position: center;
        left: auto;
        right: 0;
        width: 100%;
        height: 0;
        padding-bottom: 95%;
    }

    @media (max-width: 768px) {
        bottom: 79px;
    }
}

.summary .light-button {
    margin-top: 0;
}

.light-button {
    margin-top: 16px;
    width: 479px;
    height: 60px;
    background: linear-gradient(
        180deg,
        rgba(3, 225, 255, 0.66) 0%,
        #13cdc2 100%
    );
    border-radius: 9px;
    border: 0;
    font-size: 12px;
    font-weight: 750;
    line-height: 14.7px;
    letter-spacing: 0.27em;
    text-transform: uppercase;
    box-shadow: 0px 7px 20px -7px #00e0ff;

    @media (max-width: 768px) {
        font-size: 11px;
        letter-spacing: 4px;
        line-height: 16px;
        width: 75%;
    }
}

.scroll-down {
    display: flex;
    color: #00e0ff;
    transform: rotateZ(-90deg) translate(0, 100%);
    width: 300px;
    height: 50px;
    letter-spacing: 5px;
    font-size: 10px;
    align-items: center;
    align-self: end;
}

.switch-button {
    position: relative;
    width: 35px;
    height: 18px;
    border-radius: 60px;
    border: 1px solid #4a8bec;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.switch-button::after {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 17px;
    background-color: #4abcec;
    top: 4px;
    left: 4px;
}

.reasons-block {
    padding-top: 18px;
}

.blue-text {
    color: #49bceb;
}

.reasons {
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 122px;

    @media (max-width: 768px) {
        margin-bottom: 72px;
        padding-top: 27px;
    }
}

.reason {
    height: 100%;
    background: linear-gradient(180deg, #053740 0%, #042e3c 100%);
    border-radius: 20px;
    padding: 38px 30px 33px 41px;
    box-sizing: border-box;

    @media (max-width: 992px) {
        padding: 20px 15px 20px 20px;
    }

    @media (max-width: 768px) {
        padding: 15px 10px 21px 16px;
    }
}

.reason-vector {
    @media (max-width: 1200px) {
        width: 35px;
        height: 37px;
    }

    @media (max-width: 768px) {
        width: 32px;
        height: 37px;
    }
}

.reason-wrapper {
    position: relative;
    flex-basis: 280px;
    flex-grow: 1;
    padding: 2px;
    background: radial-gradient(
        47.54% 111.62% at 50% 50%,
        #49b9e8 0%,
        rgba(31, 77, 96, 0.43) 100%
    );
    border-radius: 20px;

    @media (max-width: 1550px) {
        flex-basis: 215px;
    }
}

.reason-wrapper::before {
    position: absolute;
    display: block;
    content: '';
    width: 64px;
    height: 30px;
    left: 30px;
    bottom: -12px;
    background-image: url('src/assets/img/icons/shine.svg');
    background-size: cover;
}

.reason-text {
    font-size: 15px;
    line-height: 18.38px;
    padding-top: 15px;

    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 17px;
        padding-top: 8px;
    }
}

.arguments-block {
    padding-top: 12px;
    position: relative;
}

.info-ai {
    position: relative;
    z-index: 2;
    padding-bottom: 154px;

    @media (max-width: 768px) {
        padding-bottom: 71px;
    }
}

.arguments {
    width: 689px;
    margin-top: 38px;

    @media (max-width: 992px) {
        width: 100%;
    }

    @media (max-width: 768px) {
        margin-top: 7px;
    }
}

.argument {
    display: flex;
    margin-bottom: 5px;
    padding: 10px 0 0 26px;
    background: linear-gradient(
        90deg,
        rgba(31, 63, 77, 0.53) 52.08%,
        rgba(31, 75, 94, 0) 100%
    );

    @media (max-width: 768px) {
        padding: 12px 23px 17px 24px;
        margin-bottom: 7px;
    }
}

.arg-checkmark {
    @media (max-width: 1200px) {
        width: 32px;
        height: 32px;
    }
}

.argument-text {
    position: relative;
    font-size: 15px;
    line-height: 21px;
    padding-top: 7px;
    padding-left: 18px;

    @media (max-width: 1200px) {
        font-size: 14px;
    }

    @media (max-width: 992px) {
        text-align: left;
        width: 400px;
    }

    @media (max-width: 768px) {
        padding-left: 20px;
    }
}

.argument-text::before {
    display: block;
    content: '';
    position: absolute;
    width: 61px;
    height: 30px;
    left: 0px;
    top: 4px;
    opacity: 0.7;
    background-image: url('src/assets/img/icons/shine.svg');
    background-size: cover;
}

.first-argument p {
    @media (max-width: 768px) {
        line-height: 17px;
    }
}

.third-argument p {
    @media (max-width: 768px) {
        padding-top: 8px;
    }
}

.first-argument {
    min-height: 50px;
}

.second-argument {
    min-height: 110px;
    max-width: 620px;
    padding-top: 9px;

    @media (max-width: 768px) {
        padding-top: 18px;
        padding-bottom: 26px;
    }
}

.third-argument {
    min-height: 84px;
    max-width: 585px;

    @media (max-width: 768px) {
        padding: 17px 37px 26px 24px;
    }
}

.fourth-argument {
    padding-top: 12px;
    min-height: 70px;
    max-width: 482px;
}

.arguments-background-image {
    background: url(src/assets/img/arguments-background.jpg) no-repeat
        right / contain;
    position: absolute;
    width: 1049px;
    height: 79%;
    bottom: 0;
    left: 494px;
    z-index: -1;

    @media (max-width: 1700px) {
        width: 758px;

        opacity: 0.2;
    }

    @media (max-width: 1550px) {
        left: 170px;
    }

    @media (max-width: 992px) {
        bottom: 212px;
        width: 556px;
        height: 355px;
        left: 150px;
    }

    @media (max-width: 768px) {
        background-position: left;
        width: 100%;
        height: 0;
        padding-bottom: 65%;
        left: auto;
        right: 0;
        bottom: 136px;
    }
}

.important-info h2 {
    margin-top: 104px;

    @media (max-width: 768px) {
        margin-top: 52px;
    }
}

.importants {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 152px;
    gap: 19px;

    @media (max-width: 1550px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (max-width: 992px) {
        gap: 25px;
    }

    @media (max-width: 768px) {
        padding-top: 5px;
        gap: 50px;
        margin-bottom: 54px;
    }
}

.important {
    display: flex;
    align-items: center;
    gap: 18px;

    @media (max-width: 1550px) {
        padding: 0;
        flex-basis: 45%;
        flex-grow: 1;
        flex-direction: column;
        gap: 17px;
        align-items: center;
    }

    @media (max-width: 768px) {
        padding-bottom: 3px;
        gap: 18px;
    }
}

.third-important,
.fourth-important {
    margin-top: 15px;
    justify-content: end;

    @media (max-width: 1550px) {
        flex-direction: column-reverse;
        justify-content: start;
        margin-top: 0;
    }
}

.important p {
    font-size: 16px;
    line-height: 23px;
    width: 40%;
    align-self: center;

    @media (max-width: 1550px) {
        line-height: 20px;
        width: auto;
        padding-top: 0;
        text-align: center;
    }

    @media (max-width: 992px) {
        font-size: 14px;
    }

    @media (max-width: 768px) {
        line-height: 17.5px;
    }
}

.important-wrapper {
    position: relative;
    padding: 2px;
    width: 285px;
    height: 203px;
    background: radial-gradient(
        47.54% 111.62% at 50% 50%,
        #49b9e8 0%,
        rgba(31, 77, 96, 0.43) 100%
    );
    border-radius: 20px;

    @media (max-width: 1550px) {
        width: 200px;
        height: 142px;
    }
}

.important-wrapper img {
    border-radius: 20px;
    filter: brightness(45%);
    opacity: 0.8;
    background-size: contain;
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
        border-radius: 15px;
    }
}

.important-wrapper::before {
    position: absolute;
    z-index: 1;
    display: block;
    content: '';
    width: 64px;
    height: 30px;
    left: 30px;
    bottom: -12px;
    background-image: url('src/assets/img/icons/shine.svg');
    background-size: cover;

    @media (max-width: 992px) {
        left: 2px;
    }
}

.advantages-block {
    position: relative;
}

.info-course {
    position: relative;
    padding-bottom: 110px;
    z-index: 2;

    @media (max-width: 768px) {
        padding-top: 24px;
        padding-bottom: 74px;
    }
}

.info-course h2 {
    width: 830px;

    @media (max-width: 1200px) {
        width: 535px;

        @media (max-width: 768px) {
            width: auto;
        }
    }
}

.advantages {
    margin-bottom: 31px;
    width: 692px;

    @media (max-width: 1550px) {
        width: auto;
    }

    @media (max-width: 768px) {
        margin-bottom: 56px;
    }
}

.advantage {
    display: flex;

    padding: 11px 0 10px 4px;

    @media (max-width: 768px) {
        padding: 9px 0 7px 0px;
    }
}

.adv-checkmark {
    @media (max-width: 1200px) {
        width: 30px;
        height: 30px;
    }

    @media (max-width: 992px) {
        width: 24px;
        height: 24px;
    }
}

.advantage p {
    position: relative;
    font-size: 16px;
    line-height: 23px;
    padding: 11px 0 0 21px;

    @media (max-width: 1200px) {
        font-size: 15px;
        line-height: 20px;
    }

    @media (max-width: 992px) {
        padding-top: 5px;
        text-align: left;
    }

    @media (max-width: 768px) {
        padding-top: 2px;
        text-align: start;
        padding-left: 12px;
        font-size: 14px;
    }
}

.advantage p::before {
    position: absolute;
    display: block;
    content: '';
    width: 64px;
    height: 30px;
    left: -3px;
    top: 8px;
    background-image: url('src/assets/img/icons/shine.svg');
    background-size: cover;

    @media (max-width: 768px) {
        left: -15px;
        top: 1px;
    }
}

.advantages-background-image {
    background: url('src/assets/img/advantages-background.jpg')
        no-repeat right / contain;
    position: absolute;
    width: 866px;
    padding-bottom: 53%;
    bottom: 97px;
    right: -360px;
    z-index: -1;

    @media (max-width: 1550px) {
        opacity: 0.2;
        padding-bottom: 79%;
        right: auto;
        left: 310px;
    }

    @media (max-width: 1200px) {
        left: 70px;
        width: 100%;
    }

    @media (max-width: 768px) {
        padding-bottom: 85%;
        left: 30px;
    }
}

.summary-block {
    padding-bottom: 107px;

    @media (max-width: 768px) {
        padding-bottom: 66px;
    }
}

.seventh-h2 {
    width: auto;

    @media (max-width: 768px) {
        margin-top: 72px;
        margin-bottom: 15px;
    }
}

.chapters {
    margin-bottom: 59px;

    @media (max-width: 768px) {
        margin-bottom: 0;
    }
}

.text-parts {
    margin-bottom: 25px;

    @media (max-width: 768px) {
        margin-bottom: 39px;
        width: 190px;
    }
}

.part {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 17px;
    padding: 10px 13px 14px 17px;
    background: linear-gradient(
        286.41deg,
        #073447 3.63%,
        #08262b 90.98%
    );
    border-radius: 6px;

    @media (max-width: 992px) {
        padding: 8px 10px 8px 17px;
        text-align: left;
    }
}

.part-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;

    @media (max-width: 992px) {
        text-align: start;
    }
}

.chevron {
    transition: 400ms;
    transform: rotateZ(0);
}

.activeAccordion {
    transition: 400ms;
    transform: rotateZ(-180deg);
}

.part-circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, #00e0ff 0%, #4a8bec 100%);

    @media (max-width: 768px) {
        align-self: start;
        margin-top: 6px;
    }
}

.parts-header {
    margin-left: 17px;
    font-size: 19px;
    font-weight: 750;
    line-height: 21px;
    letter-spacing: 1px;
    flex-grow: 1;

    @media (max-width: 768px) {
        margin-left: 17px;
        font-size: 18px;
        letter-spacing: 1.3px;
    }
}

.duration {
    margin-left: 3px;
    font-size: 15px;
    font-weight: 450;
    line-height: 21px;
    color: #088f95;
    letter-spacing: 0;

    @media (max-width: 992px) {
        display: block;
        margin: 0;
    }
}

.accordion-btn {
    padding: 2px;
    width: 32px;
    height: 32px;
    border: 2px solid;
    background: radial-gradient(
        47.54% 111.62% at 50% 50%,
        #49b9e8 0%,
        rgba(31, 77, 96, 0.43) 100%
    );
    border-radius: 5px;
    border: 0;
}

.in-progress {
    background-color: #00e0ff;
    color: #08262b;
    margin-left: 20px;
    padding: 0 2px;
    width: 102px;
    height: 17px;
    font-size: 13px;
    font-weight: 450;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0;

    @media (max-width: 1200px) {
        line-height: 16px;
        display: block;
        margin-top: 12px;
        margin-left: 0;
    }

    @media (max-width: 768px) {
        width: 97px;
        margin-top: 9px;
        margin-bottom: 5px;
    }
}

.content-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #054358 0%, #043e54 100%);
    border-radius: 5px;
}

.number-circle {
    display: flex;
    width: 27px;
    height: 27px;
    background: #4abcec;
    align-items: center;
    justify-content: center;
    border-radius: 27px;
    font-size: 14px;
    font-weight: 750;
    color: #08262b;
}

.chapter-text {
    font-size: 16px;
    line-height: 21px;

    @media (max-width: 1200px) {
        font-size: 14px;
    }

    @media (max-width: 768px) {
        margin-bottom: 19px;
    }
}

.first-chapter {
    margin-top: 19px;
}

.second-chapter {
    margin-top: 40px;
}

.third-chapter {
    margin-top: 38px;
}

.fourth-chapter {
    margin-top: 43px;
}

.fifth-chapter {
    margin-top: 40px;
}

.sixth-chapter {
    margin-top: 40px;
}

.seventh-chapter {
    margin-top: 40px;
}

.eighth-chapter {
    margin-top: 40px;
}

.ninth-chapter {
    margin-top: 41px;
}

.tenth-chapter {
    margin-top: 41px;
}

.eleventh-chapter {
    margin: 41px 0 43px 0;

    @media (max-width: 768px) {
        margin-bottom: 23px;
    }
}

.chapter-container {
    display: grid;
    grid-template-columns: 42px 1fr;

    @media (max-width: 768px) {
        grid-template-columns: 35px 1fr;
        margin-top: 6px;
    }
}

.author-container {
    display: flex;
    gap: 100px;

    @media (max-width: 1500px) {
        gap: 0;
    }

    @media (max-width: 992px) {
        flex-direction: column;
        padding-top: 28px;
    }
}

.about-author {
    margin-bottom: 102px;
    width: 488px;

    @media (max-width: 1200px) {
        width: 342px;
    }

    @media (max-width: 992px) {
        margin-bottom: 22px;
        width: auto;
    }
}

.text-shine {
    position: relative;
    font-size: 15px;
    line-height: 24px;
    padding-top: 19px;

    @media (max-width: 1200px) {
        width: 505px;
        font-size: 14px;
    }

    @media (max-width: 992px) {
        width: auto;
    }

    @media (max-width: 768px) {
        padding-top: 6px;
    }
}

.author-text {
    margin-top: 28px;
    font-size: 15px;
    line-height: 24px;

    @media (max-width: 1200px) {
        font-size: 14px;
    }
}

.text-shine::before {
    position: absolute;
    display: block;
    content: '';
    width: 64px;
    height: 30px;
    left: -25px;
    top: 14px;
    background-image: url('src/assets/img/icons/shine.svg');
    background-size: cover;

    @media (max-width: 992px) {
        left: 0;
    }

    @media (max-width: 768px) {
        top: 4px;
    }
}

.author {
    background: url('src/assets/img/Vladimir_Kim.png') no-repeat
        bottom / contain;
    position: relative;
    align-self: end;
    height: 590px;
    padding-left: 384px;

    @media (max-width: 992px) {
        padding-left: 100%;
        height: 53vw;
    }

    @media (max-width: 768px) {
        height: 410px;
    }
}

.author img {
    max-width: 441px;
    max-height: 672px;
}

.author-name {
    position: absolute;
    bottom: 92px;
    right: 30%;

    @media (max-width: 768px) {
        bottom: 51px;
    }
}

.author-name span {
    color: #00e0ff;
    font-size: 23px;
    font-weight: 750;
    letter-spacing: 1.3px;

    @media (max-width: 1200px) {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.author-name p {
    font-size: 14px;
    padding-top: 4px;

    @media (max-width: 1200px) {
        font-size: 13px;
    }

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.announcement-block {
    padding-bottom: 110px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        padding-bottom: 97px;
    }
}

.announcement-carousel,
.career-carousel {
    position: relative;
}

.announcement-carousel h2 {
    margin-top: 98px;
    margin-bottom: 30px;
    width: 40vw;

    @media (max-width: 992px) {
        width: auto;
    }

    @media (max-width: 768px) {
        margin-top: 57px;
        margin-bottom: 16px;
    }
}

.career-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 146px;
}

.announcement-button {
    top: 101px;
    padding: 0 30px;
}

.career-button {
    top: 76px;
    padding: 0 24px;
}

.dark-button {
    text-transform: uppercase;
    width: auto;
    height: 60px;
    background: transparent;
    color: #4abcec;
    font-size: 11px;
    font-weight: 750;
    letter-spacing: 0.33em;
    border-radius: 9px;
    border: 1px solid #00e0ff;
    position: absolute;
    right: 23%;

    @media (max-width: 992px) {
        top: auto;
        bottom: -60px;
        right: 40%;

        height: 30px;
    }

    @media (max-width: 650px) {
        left: 20%;
        right: 20%;
    }
}

.carousel-container {
    position: relative;
    margin: 0 auto;
    width: 1200px;

    @media (max-width: 1550px) {
        width: 700px;
    }

    @media (max-width: 992px) {
        width: 530px;
    }

    @media (max-width: 768px) {
        max-width: 84%;
    }
}

.carousel-wrapper {
    @media (max-width: 768px) {
        overflow: hidden;
    }
}

.carousel-list {
    margin: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
    transition: transform 0.3s ease-out;
}

.carousel-img::before {
    position: absolute;
    display: block;
    content: '';
    width: 64px;
    height: 30px;
    left: 30px;
    bottom: -10px;
    background-image: url('src/assets/img/icons/shine.svg');
    background-size: cover;
}

.woman {
    background: url('src/assets/img/woman.png') no-repeat center /
        contain;
}

.work {
    background: url('src/assets/img/work.png') no-repeat center /
        contain;
}

.team {
    background: url('src/assets/img/team.png') no-repeat center /
        contain;
}

.network {
    background: url('src/assets/img/network.png') no-repeat center /
        contain;
}

.carousel-img {
    position: relative;
    width: 387px;
    padding-bottom: 61%;

    @media (max-width: 1200px) {
        width: 343px;
    }

    @media (max-width: 992px) {
        width: 299px;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.carousel-item {
    opacity: 0.5;

    @media (max-width: 768px) {
        min-width: 100%;
    }
}

.carousel-item.active {
    opacity: 1;
}

.carousel-item p {
    font-size: 15px;
    line-height: 21px;
}

.carousel-buttons {
    position: absolute;
    top: 87px;
    width: 100%;

    @media (max-width: 1200px) {
        top: 78px;
    }

    @media (max-width: 992px) {
        top: 66px;
    }

    @media (max-width: 768px) {
        top: 21vw;
    }
}

.arrow-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;

    @media (max-width: 1200px) {
        width: 52px;
        height: 52px;
    }

    @media (max-width: 768px) {
        width: 43px;
        height: 43px;
    }
}

.prev-btn {
    left: 0;

    /* @media (max-width: 768px) {
        left: -22px;
    } */
}

.next-btn {
    right: 0;

    /* @media (max-width: 768px) {
        right: -18px;
    } */
}

.arrow-left {
    @media (max-width: 768px) {
        width: 43px;
        height: 43px;
    }
}

.arrow-right {
    transform: rotateZ(-180deg);

    @media (max-width: 768px) {
        width: 43px;
        height: 42px;
    }
}

.career-block {
    padding-bottom: 110px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        padding-bottom: 119px;
    }
}

.career-carousel h2 {
    margin-top: 76px;
    margin-bottom: 29px;

    @media (max-width: 768px) {
        margin-top: 56px;
        margin-bottom: 13px;
    }
}

.requirement {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 15px;
    line-height: 23px;
}

.dotted {
    flex: 1 0;
    border-bottom: 1px dotted;
    height: 1em;
    margin: 0 0.4em;
}

footer {
    position: relative;
    background: linear-gradient(90deg, #022335 3.63%, #043a41 90.98%);
    padding-bottom: 19px;

    @media (max-width: 768px) {
        padding-bottom: 0;
    }
}

.footer-container {
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        padding-top: 41px;
    }

    @media (max-width: 560px) {
        flex-direction: column;
        gap: 20px;
    }
}

.contact-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-top: 0;
}

.contacts {
    display: flex;
    justify-content: end;
    gap: 20px;

    @media (max-width: 1550px) {
        flex-direction: column-reverse;
        align-items: end;
    }

    @media (max-width: 560px) {
        align-items: center;
    }
}

.email-logo {
    vertical-align: middle;
    padding-right: 10px;
}

.email {
    font-size: 18px;
    color: #4abcec;
}

.phone-number {
    @media (max-width: 768px) {
        font-size: 17px;
    }
}

.social-media {
    display: flex;
    justify-content: end;
    margin: 0;
    gap: 20px;
    list-style-type: none;

    @media (max-width: 560px) {
        justify-content: space-around;
    }
}

.footer-text {
    padding-top: 7px;
    color: #747d81;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.12em;
    margin-right: 12px;
    text-transform: uppercase;
}

.social-text {
    @media (max-width: 992px) {
        display: none;
    }
}

.media-item {
    display: block;
    background-size: contain;
}

.copyright {
    position: relative;
    margin: 47px auto 0;
    text-align: center;
    font-size: 14px;
    background: linear-gradient(
        180deg,
        #ffffff 65.96%,
        rgba(105, 104, 104, 0) 100%
    );

    background-clip: text;
    color: transparent;

    @media (max-width: 768px) {
        font-size: 12px;
        margin-top: 52px;
    }
}

.copyright::before {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: 0;
    width: 40%;
    height: 1px;
    background: #00e0ff33;
}

.copyright::after {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    right: 0;
    width: 40%;
    height: 1px;
    background: #00e0ff33;
}

.afreeca-wrapper {
    display: flex;
    justify-content: end;
}

.afreeca-text {
    @media (max-width: 768px) {
        font-size: 8px;
        padding: 0;
    }
}

.afreeca {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

    @media (max-width: 768px) {
        margin-top: 14px;
        margin-bottom: 16px;
    }
}

.afreeca img {
    @media (max-width: 768px) {
        width: 94px;
        height: 28px;
    }
}

.up-container {
    position: absolute;
    top: -69px;
    left: 5vw;
    height: 139px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
        top: -68px;
        right: 11px;
        left: auto;
    }
}

.outer-circle-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    max-width: 139px;
    height: 10vw;
    max-height: 139px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;

    @media (max-width: 992px) {
        width: 93px;
        height: 93px;
    }
}

.up-btn {
    background: transparent;
    border: none;
    border-radius: 50%;
}

.inner-circle-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    max-width: 80px;
    height: 6vw;
    max-height: 80px;
    background: linear-gradient(
        180deg,
        rgba(3, 225, 255, 0.66) 0%,
        #13cdc2 100%
    );
    border-radius: 50%;
    box-shadow: 0px 7px 20px -7px #00e0ff;

    @media (max-width: 992px) {
        width: 52px;
        height: 52px;
    }
}

.arrow-up {
    width: 1vw;
    max-width: 16px;
    height: 2vw;
    max-height: 30px;

    @media (max-width: 992px) {
        height: 21px;
        width: 12px;
    }
}

.text-up {
    position: absolute;
    top: 0px;
    color: #00e0ff;
    transform: rotateZ(270deg) translate(85px, 0);
    width: 150px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    line-height: 12.25px;
    letter-spacing: 0.36em;

    @media (max-width: 992px) {
        display: none;
    }
}
